<!DOCTYPE html>
<html lang="es-CL">
    {% load pwa %}
<head>
    <!-- Cargar archivos estáticos -->
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asignar</title>

    <!-- Carga de estilos -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
</head>
{% progressive_web_app_meta %}
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url "index" %}">Ascensores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "listarAsignacion" %}">Asignaciones</a>
                </li>
                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "panel" %}">Administración <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if user %}
                <li class="nav-item" id="credenciales">
                    <a class="nav-link">Bienvenido {{ user.1 }}</a>
                </li>
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href="{% url "cerrarSession" %}">Salir</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Asginar -->
    <br>
    <div class="container">
        <h2>Asignar Orden</h2><br><br>
        <form action="{% url 'crearAsignacion' %}" method="post" id="crearAsignacion">
            {% csrf_token %}
            <legend>Información Requerida</legend>
            <div class="form-group">
                <label for="idCliente">Cliente</label> 
                <select name="idCliente" id="idCliente" class="form-control">
                    <option value="empty">Cliente</option>
                    <option value="empty">--</option>
                    {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">[ID: {{ cliente.id }}] [Nombre: {{ cliente.nombre }}] [Correo: {{ cliente.email }}]</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="idTecnico">Tecnico</label> 
                <select name="idTecnico" id="idTecnico" class="form-control">
                    <option value="empty">Seleccione un Técnico</option>
                    <option value="empty">--</option>
                    {% for tecnico in tecnicos %}
                    <option value="{{ tecnico.id }}">[ID: {{ tecnico.id }}] [Nombre: {{ tecnico.nombre }}] [Correo: {{ tecnico.email }}]</option>
                    {% endfor %}
                </select>
            </div>

            <br><br>
            <button type="submit" class="btn btn-primary">Asignar</button>
        </form>
    </div>

    <!-- Carga de scripts -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>