<!DOCTYPE html>
<html lang="es-CL">
    {% load pwa %}
<head>
    {% progressive_web_app_meta %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css">
</head>
<body>
    <form method="POST" class="form-signin" action="{% url "loginIniciar" %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
        <label for="email"  class="sr-only">Correo</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Correo" required autofocus>
        <label for="password" class="sr-only">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        <a href="{% url 'registroTecnico' %}">Registrar</a>
    </form>          
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>